@tailwind base;
@tailwind components;
@tailwind utilities;

.globalMaxW{
  max-width: 1260px !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 234, 234;
  --background-end-rgb: 255, 255, 255;
  --border-color: black;
}

::-webkit-scrollbar{
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: scroll;
  min-width: 300px !important;
  color: rgb(var(--foreground-rgb));
  border-color: var(--border-color);
  background: rgb(var(--background-start-rgb));
}
